<% if (locals.errors) { %>
<p>Sorry, something weng wrong. Please consider correcting the following errors:</p>
<ul>
  <% errors.forEach(function(error) { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>