<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/styles.css">
  <script src="./scripts/htmx.min.js"></script>
  <script src="./scripts/toggleScanline.js" defer></script>
</head>

<body class="scanlines">

  <header>
    <form action="/" method="post" class="search">
      <label for="location">Location: </label>
      <input type="text" id="location" name="location" value="<%=locals.input%>" />
      <button type="submit">Search</button>
    </form>
  </header>

  <main>
    <button id="toggle-scanline">Toggle scanlines</button>

    <%- include("partials/errors.ejs") %>

    <div class="init_tv filter" hx-post="/clicked/-1" hx-trigger="load" hx-swap="innerHTML">
    </div>
  </main>
</body>

</html>